/* Navbar */
.navbar {
    background-color: #007bff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navItem {
    margin: 0 10px;
  }
  
  .navLink {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
    font-weight: bold;
  }
  